{
    "version" : "2017-02-28",
    "operation" : "Query",
    "query" : {
        "expression": "#state = :state and zip <= :zip",
        "expressionNames": {
            "#state": "state"
        },
        "expressionValues" : {
            ":state" : $util.dynamodb.toDynamoDBJson($ctx.args.state),
            ":zip" : $util.dynamodb.toDynamoDBJson($ctx.args.zip)
        }
    },
    "scanIndexForward": false,
    "limit": 1
}